/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Author     : Roo
*/

.body{
    -fx-background-image: url(../images/bg.png);
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.xContainer{
    -fx-background-image: url(../images/xborder.png);
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.oContainer{
    -fx-background-image: url(../images/oborder.png);
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.xBtn{
    -fx-background-color: none;
    -fx-background-image: url(../images/xbutton.png);
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.oBtn{
    -fx-background-color: none;
    -fx-background-image: url(../images/obutton.png);
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button{
    -fx-cursor:hand;
}

.backBtn{
    -fx-background-color: none;
    -fx-background-image: url(../images/back.png);
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
