/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 15, 2022, 11:24:11 AM
    Author     : Roo
*/

/*@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@font-face {
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: bold;
    src: local('Righteous'), url('https://fonts.googleapis.com/css2?family=Righteous&display=swap';) format('truetype');
}

*{
    -fx-font-family: Righteous;
}*/

.body{
    -fx-background-image: url(../images/gameBG.png);
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button{
    -fx-background-color: linear-gradient(to right,rgba(0,0,0,0.3),rgba(0,0,0,0.6));
    -fx-background-radius: 10,5,5,10;
    -fx-background-insets: 0,1,2,0;
    -fx-border-color: #ffffff3d;
    -fx-border-radius: 10;
    -fx-border-width: 3;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-padding: 10 20 10 20;
    -fx-margin: 10 20 10 20;
}

.xMove{
    -fx-text-fill: linear-gradient(red 50%,#ff000005 );
    -fx-font-size: 90;
    -fx-font-weight: bold;
}
.oMove{
    -fx-text-fill: linear-gradient(#00b4ff 50%,#00b4ff05 );
    -fx-font-size: 90;
    -fx-font-weight: bold;
}

.XLabel,.OLabel{
    -fx-font-size: 150;
}

.XLabel,.XunderLine{
    -fx-text-fill: linear-gradient(#ff0000 50%,#ff000005 );

}

.OLabel,.OunderLine{
    -fx-text-fill: linear-gradient(#00b4ff 50%,#00b4ff05  );
}

.XturnHighlight{
    -fx-effect: dropshadow( three-pass-box , rgba(255,0,0,0.6) , 30, 0.5 , 0 , 1 );
}

.OturnHighlight{
    -fx-effect: dropshadow( three-pass-box , #00b4ff5a , 30, 0.5 , 0 , 1 );
}
.label{
    -fx-font-weight: bold;
}

.button{
    -fx-cursor:hand;
}

.backBtn{
    -fx-background-color: none;
    -fx-background-image: url(../images/back.png);
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.muteSound{
    -fx-background-color: none;
    -fx-background-image: url(../images/mute.png);
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;  
}

.unmuteSound{
    -fx-background-color: none;
    -fx-background-image: url(../images/unmute.png);
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}