/*@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@font-face {
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: bold;
    src: local('Righteous'), url('https://fonts.googleapis.com/css2?family=Righteous&display=swap';) format('truetype');
}

*{
    -fx-font-family: Righteous;
}*/

.body{
    -fx-background-image: url(../images/mainbg.png);
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}
.container{
    -fx-background-image: url(../images/frame.png);
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}


.textInput {
    -fx-text-fill: #00b4ff;
    -fx-highlight-fill: derive(-fx-control-inner-background,-20%);
    -fx-highlight-text-fill: -fx-text-inner-color;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.playBtn{
    -fx-background-color: none;
    -fx-background-image: url(../images/login.png);
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.registerLink{
    -fx-background-color: none;
}

.button{
    -fx-cursor:hand;
}

.backBtn{
    -fx-background-color: none;
    -fx-background-image: url(../images/back.png);
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
